.item1 {grid-area: encabezado;}
.item2 {grid-area: menus;}
.item3 {grid-area: principal;
  color: white;}
.item4 {grid-area: pie;}
.item5 {grid-area: firma;
  color:rgb(56, 55, 55);}

.item0 {
  display: grid;
  grid-template-areas: 
  'encabezado encabezado encabezado encabezado '
  'menus menus menus menus'
  'principal principal principal principal'
  'pie pie pie pie';
}

header {
    font-family: verdana;
    font-size: 20 px;
    color: cornsilk;
}

footer {
    font-family: verdana;
    font-size: 14px;
    text-align: center;
    height: 4rem;
    color: cornsilk
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 32, 32);
    color: cornsilk
  }
  
li {
    float: left;
      }
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: rgba(255, 0, 0, 0.575);
  }

.active {
    background-color: rgba(255, 0, 0, 0.575);
  }

 